body {
  background-color: black;
  font-family: "Helvetica";
  font-size: 16px;
  margin: 0 auto;
  max-width: 1366px;
  position: relative;
}
header {
  background: -webkit-linear-gradient(top, black, transparent);
  padding: 1em 3em;
  position: relative;
  z-index: 1;
}
header a {
  color: #e50914;
  text-decoration: none;
 }
header div {
  color: white;
  float: right;
}
header span { font-size: .8em; }
header input {
  color: white;
  background-color: black;
  padding: 7px;
  vertical-align: top;
  width: 250px;
}
header input:focus { outline: 0; }
.fa-bell {
  font-size: 1.5em;
  margin:  0 1em;
}
header a, header span, header .fa {
  line-height: 32px;
  vertical-align: top;
}
.logo, .perfil { height: 32px; }
.logo { margin-right: 3em; }
.vista-previa {
  color: white;
  padding: 3.5em 0 2.9em 3em;
}
.titulo {
  margin-bottom: 1em;
  width: 430px;
}
.background-info {
  position: relative;
  width: 35%;
  z-index: 1;
}
.background-info p { font-size: 1.2em; }
.vista-previa a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.background {
  position: absolute;
  right: 0;
  top: 0;
}
.series {
  background-color: #141414;
  color: white;
  padding-left: 50px;
  padding-top: 25px;
}
.series img {
  margin-bottom: 1em;
  transition: all .2s;
  width: 210px;
}

.series img:hover { transform: scale(1.5); }

.series h2, .vista-previa p, .vista-previa span { opacity: .6; }

.vista-previa span:nth-child(3) {
  border: 1px solid white;
  padding: 1px 3px;
}